<footer>
  <p>&copy; 2026 Tarek Elzoghby</p>

  <nav aria-label="Social media links">
    <ul>
      <li>
        <a
          href="https://github.com/Tarek-Elzoghby"
          target="_blank"
          rel="noopener noreferrer"
          >GitHub</a
        >
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/tarek-elzoghby/"
          target="_blank"
          rel="noopener noreferrer"
          >LinkedIn</a
        >
      </li>
      <li>
        <a
          href="https://hashnode.com/@Tarek-Elzoghby"
          target="_blank"
          rel="noopener noreferrer"
          >Hashnode</a
        >
      </li>
      <li>
        <a
          href="https://dev.to/tarek_elzoghby"
          target="_blank"
          rel="noopener noreferrer"
          >dev.to</a
        >
      </li>
      <li>
        <a
          href="https://coderlegion.com/user/Tarek-Elzoghby"
          target="_blank"
          rel="noopener noreferrer"
          >CoderLegion</a
        >
      </li>
      <li>
        <a
          href="https://www.frontendmentor.io/profile/Tarek-Elzoghby"
          target="_blank"
          rel="noopener noreferrer"
          >Frontend Mentor</a
        >
      </li>
       <li>
        <a
          href="https://codepen.io/Tarek-Elzoghby"
          target="_blank"
          rel="noopener noreferrer"
          >CodePen</a
        >
      </li>
    </ul>
  </nav>
</footer>