# Dependencies
node_modules/

# Build output (per-challenge, before being copied into /docs)
dist/
build/


# Env files
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-error.log*
*.log

# Raw files
project-raw/
